<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoreManger"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnwhwO-jKSK8zcbcfeVFPKE0S4F4Y1m-Q" />
        <activity
            android:name=".activities1.StoresActivity1"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities1.ProfileActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.SubscriptionsStoreActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>

        <activity
            android:name=".activities1.StoreCategoriesActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.LoginActivity1"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>

        <activity
            android:name=".activities1.StoreSectionsActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.ProductOptionsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.AddStoreActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.ProductsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.StoreNestedSectionsActivity1"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreManger">
        </activity>
        <activity
            android:name=".activities1.StoreProductsActivity"
            android:exported="false"/>
        <activity
            android:name=".activities1.LocationStoreActivity1"
            android:exported="false"/>

        <activity
            android:name=".activities1.SettingsStoreActivity1"
            android:exported="false"/>

        <activity
            android:name=".activities1.StoreOrdersActivity1"
            android:exported="false"/>
        <activity
            android:name=".activities1.StoreCouponsActivity"
            android:exported="false"/>

        <activity
            android:name=".activities1.OrderProductsActivity1"
            android:exported="false"/>
        <activity
            android:name=".activities1.StoreDeliveryMenActivity1"
            android:exported="false"/>
        <activity
            android:name=".activities1.SettingsActivity1"
            android:exported="false"/>
        <activity
            android:name=".activities1.AdsActivity1"
            android:exported="false"/>
        <activity
            android:name=".activities1.StoreNotificationsActivity1"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>